header {font-family: 'Barlow', sans-serif; 
text-align: center;
color: whitesmoke;
text-decoration: none;
font-size: 22px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: red;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: darkred;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: palevioletred;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: indianred;
  color: white;
}

.titolo {
font-family: 'Kdam Thmor Pro', sans-serif;
font-weight: bold;
color: darkred;
padding:  400px 30px 0px;
margin: 0px;
text-align: center;
background-image: url(../immagini/cap.jpg);
background-size: cover 70px;
background-repeat: no-repeat;
background-position: center;
font-size: 60px;
}


#homeimage { min-width: 500px;
padding-top: 5em;
}

#click{ padding-top: 7em; 
text-align: center;}

p {
line-height: 30px;
color: black;
font-weight: normal;
font-size: 18px;}


section {text-align: center;
text-decoration: none !important;
color: black !important;
}



main {font-family: 'Barlow', sans-serif;}

body {font-family: 'Barlow', sans-serif;
font-size: 18px;
text-align: center;
font-weight: normal;}

#logo {
    text-align: center;
   padding-top: 3em;
}

#paragrafo {
   font-family: 'Barlow', sans-serif;
   color: black;
   font-size: 14px;
   text-align: justify !important;
   padding-top: 2px;
   color: black;
   font-weight: normal;

}

ul{ list-style-position:inside;
color: black;
font-size: 14px;
font-weight: 100;}
ul, li {list-style-type: square; 
margin: 0; padding: 0;
color: black;
font-size: 14px;
line-height: 30px;
font-weight: normal;}


h3, h4 {
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}

h5, h6 {color: darkred;
font-weight: normal;
text-decoration: underline;
font-weight: 15px;}

 #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}



a { color: black; 
font-size: 25px;
text-decoration: none;
padding-top: 3px;
position: centered;
}

footer {background-color: darkred;
color: black;
text-decoration: none;
font-size: 16px;
line-height:100px;
max-height: 15%; }

/* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: darkred;
  color: black;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.ark {vertical-align: middle;
border-style: none;
max-height: 384px;
max-width: 301px;}


